/* PAGE WRAPPER */
.signup-wrapper {
  width: 100%;
  margin-top: 50px;
  padding: 0 120px;
  font-family: "Poppins", sans-serif;
}

/* Title */
.signup-title h1 {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 600;
}

/* MAIN CONTAINER */
.signup-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* LEFT BOX */
.signup-left {
  background: #f4f7ff;
  padding: 30px 30px;
  width: 48%;
  border-radius: 10px;
}

.signup-left h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

.signup-left label {
  display: block;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 500;
}

.signup-left input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline-color: #4a6eff;
}

/* LEFT BUTTON */
.signup-btn {
  margin-top: 25px;
  padding: 10px 25px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* RIGHT BOX */
.signup-right {
  background: #f4f7ff;
  padding: 30px;
  width: 48%;
  border-radius: 10px;
}

.signup-right h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

.signup-right ul {
  margin: 10px 0 25px 20px;
  color: #555;
}

.signin-btn {
  padding: 10px 25px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .signup-wrapper {
    padding: 20px;
  }

  .signup-container {
    flex-direction: column;
  }

  .signup-left,
  .signup-right {
    width: 100%;
  }
}
